/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5b21b6;
  --ifm-color-primary-dark: #4c1d95;
  --ifm-color-primary-darker: #2e1065;
  --ifm-color-primary-darkest: #2e1065;
  --ifm-color-primary-light: #6d28d9;
  --ifm-color-primary-lighter: #7c3aed;
  --ifm-color-primary-lightest: #7c3aed;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d7befe;
  --ifm-color-primary-dark: #bc92fd;
  --ifm-color-primary-darker: #af7cfd;
  --ifm-color-primary-darkest: #863bfc;
  --ifm-color-primary-light: #f2eaff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #211533;
  --ifm-navbar-search-input-background-color: #170e26;
  --ifm-hero-background-color: #8358c3;

  body, section, main, nav {
    background-color: #211533;
  }

  pre, code, footer {
    background-color: #170e26 !important;
  }
}
