/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5b21b6;
  --ifm-color-primary-dark: #4c1d95;
  --ifm-color-primary-darker: #2e1065;
  --ifm-color-primary-darkest: #2e1065;
  --ifm-color-primary-light: #6d28d9;
  --ifm-color-primary-lighter: #7c3aed;
  --ifm-color-primary-lightest: #7c3aed;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-hero-background-color: #444444;
  --ifm-color-primary: #5b21b6;
  --ifm-color-primary-dark: #4c1d95;
  --ifm-color-primary-darker: #2e1065;
  --ifm-color-primary-darkest: #2e1065;
  --ifm-color-primary-light: #6d28d9;
  --ifm-color-primary-lighter: #7c3aed;
  --ifm-color-primary-lightest: #7c3aed;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
